<div class="nav-right-wrapper">

  <div class="relation_mdd">
    相关目的地：　&nbsp;&nbsp;
    <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/10067.html">菲律宾</a>&nbsp;
    <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/139668.html">中米沙鄢</a>
  </div>

  <!--  相关目的地-->
  <div class="relation_mdd">
    <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/16115.html" title="薄荷岛" target="_blank">
      <img src="http://p4-q.mafengwo.net/s7/M00/5D/44/wKgB6lTTLtWAORaWAAVx1aigPFE75.jpeg?imageMogr2%2Fthumbnail%2F%21200x150r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21200x150%2Fquality%2F90" alt="薄荷岛">
      <strong>薄荷岛</strong>
    </a>
    <div class="pics_num">
      有　
      <strong>11111</strong>
      张照片
      <a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/16115.html" title="薄荷岛" target="_blank"> 前往</a>
    </div>
  </div>


  <!--  相关攻略-->
  <div class="notes_gonglve">
    <h2>相关攻略</h2>
    <a href="http://www.mafengwo.cn/gonglve/ziyouxing/26641.html?cid=1010608" title="相关攻略" target="_blank">
      <img src="http://n2-q.mafengwo.net/s13/M00/A0/96/wKgEaVytYeSAFslwAAeoFJi3uKQ61.jpeg?imageMogr2%2Fthumbnail%2F%21345x213r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21345x213%2Fquality%2F90" alt="薄荷岛">
      <strong>连处女座也无可挑剔的薄荷岛，究竟得好玩成什么样</strong>
    </a>
  </div>

  <!--  相关游记-->
  <div class="notes_gonglve">
    <h2>相关游记</h2>
    <a href="http://www.mafengwo.cn/i/7494827.html" title="相关游记" target="_blank">
      <img src="http://b4-q.mafengwo.net/s10/M00/98/28/wKgBZ1me8MSAa7C5AAwlt_Bnvz833.jpeg?imageMogr2%2Fthumbnail%2F%21240x160r%2Fstrip%2Fgravity%2FCenter%2Fcrop%2F%21240x160%2Fquality%2F100" alt="薄荷岛">
      <strong>薄荷岛，许下我们的碧海蓝天</strong>
    </a>
  </div>

</div>

