<!--<div class="container">-->
<div class="content-wrapper">

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!--  指示符 -->
    <div class="show-nav">
      <ul class="carousel-indicators">
        <div data-target="#demo" data-slide-to="0" class="active">
          <img
            src="https://p3-q.mafengwo.net/s10/M00/CA/54/wKgBZ12MXmGAK4E5AAVz8Vp91PE436.png?imageMogr2%2Fthumbnail%2F%21108x67r%2Fgravity%2FCenter%2Fcrop%2F%21108x67%2Fquality%2F90">
        </div>

        <div data-target="#demo" data-slide-to="1">
          <img
            src="https://n3-q.mafengwo.net/s13/M00/53/F7/wKgEaV2JwpyAQ2wSAAUHbJdWaMA640.png?imageMogr2%2Fthumbnail%2F%21108x67r%2Fgravity%2FCenter%2Fcrop%2F%21108x67%2Fquality%2F90">
        </div>
        <div data-target="#demo" data-slide-to="2">
          <img
            src="https://p1-q.mafengwo.net/s14/M00/34/BC/wKgE2l2IzSaAAq7FAAUM2_aTF4Y271.png?imageMogr2%2Fthumbnail%2F%21108x67r%2Fgravity%2FCenter%2Fcrop%2F%21108x67%2Fquality%2F90">
        </div>
      </ul>
    </div>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://n1-q.mafengwo.net/s6/M00/DE/BE/wKgB4l2IzTmAV1xZABUiHqtjTBI062.png?imageMogr2%2Finterlace%2F1">
        <div class="carousel-caption">
          <a href="http://www.mafengwo.cn/i/16918408.html" target="_blank">
            <div class="date">
              27/Sep.2019
            </div>
            <h3>枕在音乐里 醒在童话中 | 捷奥蜜月游!</h3>
          </a>

        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://p1-q.mafengwo.net/s10/M00/55/B7/wKgBZ12K2OmASIrAABzWqJ0B8Y8966.png?imageMogr2%2Finterlace%2F1">
        <div class="carousel-caption">
          <a href="http://www.mafengwo.cn/i/17029840.html" target="_blank">
            <div class="date">
              24/Sep.2019
            </div>
            <h3>当女司机遇上不食人间烟火的欧洲秘境 | sLOVEnia非常规自驾游</h3>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://p1-q.mafengwo.net/s13/M00/54/16/wKgEaV2JwrCAb4zcAB3-OG9-Z1g376.png?imageMogr2%2Finterlace%2F1">
        <div class="carousel-caption">
          <a href="http://www.mafengwo.cn/i/16918408.html" target="_blank">
            <div class="date">
              7/Sep.2019
            </div>
            <h3>Safari in 肯尼亚 very 哈库呐玛塔塔</h3>
          </a>
        </div>
      </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

  <div class="content-travel-list">

    <div class="container">
      <!-- 文章搜索 -->
      <div class="row">
        <div class=" col-md-12">
          <app-travel-search></app-travel-search>
        </div>
      </div>

      <div class="row">
        <!-- 左侧菜单-->
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-4 content-nav-list">
          <app-nav-right></app-nav-right>
        </div>

        <!--  中间列表-->
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-8 content-list">

          <app-travel-list></app-travel-list>
          <!--          <app-travel-item></app-travel-item>-->

        </div>
      </div>
    </div>

  </div>
</div>

<!--</div>-->


